header{
    width: 100%;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
i{
    color: $white-normal;
}
.header-icons{
    display: flex;
    gap: 15px;
}
.header-icons a:hover >i{
    color: $red-light;
    animation: translateY 0.8s infinite alternate;
}

// criando animação de transição

@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}
.header-button{
border: 1px solid $white-normal;
padding: 8px 24px;
border-radius: 5px;
color: $white-normal;
background-color: transparent;
transition: background-color 0.8s;
// transition: background-color 0.8s; animação para transição do botão
}
.header-button:hover{
    background-color: $red-light;
    border: 1px solid$red-light;
}
.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

// criando breakpoint para mobile
@media screen and (max-width:768px){

    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 20px;
            font-size: 35px;
        }
    }

    .header-logo img{
        width: 170px;
        margin-top: 45px;
    }
    .header-button{
        display: none;
    }
}